[logging]
 default = FILE:/var/log/krb5.log
 kdc = FILE:/var/log/kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
{% if krb5_allow_weak_crypto %}
 allow_weak_crypto = yes
{% endif %}
 default_keytab_name = FILE:/etc/krb5.keytab
 default_ccache_name = KEYRING:persistent:%{uid}
 default_realm = {{ adauth_realm }}
 ticket_lifetime = 24h
 # AD doesn't allow more
 renew_lifetime = 7d
 renewable = true
 forwardable = true
 # Limit NetApp EMS error messages
 udp_preference_limit = 1

[realms]
    {{ adauth_realm }} = {
        kpasswd_protocol = SET_CHANGE
    }

[domain_realm]
 {{ siteDomain }} = {{ adauth_realm }}
 .{{ siteDomain }} = {{ adauth_realm }}
 .{{ adauth_realm | lower }} = {{ adauth_realm }}
 {{ adauth_realm | lower }} = {{ adauth_realm }}
 .local = {{ adauth_realm }}

[appdefaults]
 pam = {
   debug = false
   ticket_lifetime = 36000
   renew_lifetime = 36000
   forwardable = true
   krb4_convert = false
   max_timeout = 3
   timeout_shift = 2
   initial_timeout = 1
 }
